
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

/* get started */
.container-getStarted{
    margin: 0px 80px 40px 80px;
    padding: 40px 80px 0px 80px;;
    display: flex;
    flex-direction: row;
}
.container-getStarted h1{
    font-family: 'Roboto', sans-serif;
    font-size: 50px;
    color: #002E88;
    font-weight: normal;

}
.container-getStarted-half{
    width: 50%;
    /*Abrar's CSS change here */
    margin-left: 240px;
}
.container-getStarted-half-heading{
    margin-top: 50px;
}
.container-getStarted-half-des{
    padding: 20px 0px 20px 0px;
    width: 60%;
    color: rgb(140, 141, 141);
}
.container-getStarted-half-button{
    width: 60%;
    display: flex;
    justify-content: end;
    
    
}
.container-getStarted-half-button a{
    text-decoration: none;
    color: #002E88;
    padding: 10px;
    background-color: #FABC2A;
    font-size: 20px;
    border-radius: 5px;
    font-weight: bold;
    border: 2px solid #FABC2A;
    transition: all 0.3s ease;
}
.container-getStarted-half-button a:hover{
    background-color: white;

}
.container-getStarted-half img{
    margin-left: 100px;
}


/* objective */
.container-objective{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 80px;
    margin-bottom: 40px;
}
.container-objective-heading{
    margin-top: 10px;
    margin-bottom: 10px;
}
.container-objective-heading h1{
    color: #002E88;
    padding-top: 20px;
    padding-bottom: 40px;
    font-size: 40px;
}
.container-objective-points{
    display: flex;
    flex-direction: row;
}
.container-objective-points-indv{
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center; 
}
.container-objective-points-indv div{
    margin-top: 20px;
    width: 200px;
}


/* offer */

.container-offer{
    margin-top: 40px;
    background: #F4FFF5;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 60px;
    margin-bottom: 40px;

}
.container-offer-half{
    display: flex;
    flex-direction: row;
    width: 50%;
    align-items: center;
    
    
}
.container-offer-left{
    position: relative;
    left: -200px;
    padding-right: 50px;
}
.container-offer-right-point{
    display: flex;
    flex-direction: row;
    padding: 20px;
    padding-bottom: 0px;

}
.container-offer-right-point p{
    margin-left: 10px;
    margin-bottom: 10px;
}

/* tools */
.container-tools{
    display: flex;
    flex-direction: row;
    margin-top: 100px;
    margin-bottom: 40px;
}
.container-tools-left{
    width: 50%;
    padding-left: 196px;
}
.container-tools-right{
    width: 50%;
}
.container-tools-left h1{
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    color: #002E88;
}
.container-tools-left p{
    margin-top: 40px;
    width: 52%;
    color: #7C7C7C;
    font-family: Urbanist;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}


/* About us */
.container-aboutUs{
    padding: 50px 100px 0px 100px;
    display: flex;
    flex-direction: column;
    align-items: end;
    margin-right: 200px;
    
}
.container-aboutUs-heading{
    position: relative;
    top: 80px;
}
.container-aboutUs h1{
    color: #002E88;
    font-weight: 600;
    line-height: normal;
}
.container-aboutUs-half{
    margin-top: 0;
    padding-top: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align:end;
}
.container-aboutUs-right{
    position: relative;
    left: 300px;
    width: 40%;
    color: #7C7C7C;
    text-align: right;
    font-family: Urbanist;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}