/* username */
.container-homepage-header{
    margin: 20px 0px 40px 0px;
    display: flex;
    justify-content: center;
}
.container-homepage-header h1{
    color: #002E88;
    
    font-size: 40px;
}
.container-homepage-header h1 span{
    padding: 12px;
    background-color: #93FF96;
    border-radius: 5px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
/* progress */
.container-homepage-progress{
    
    display: flex;
    justify-content: center;
    
}
.container-homepage-progress-bar{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 40px;
    margin-bottom: 40px;
    width: 85%;
    height: 150px;
    flex-shrink: 0;
    border-radius: 10px;
    background: var(--Purples-Purple-3, #EECAF2);
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    
}
.container-homepage-progress-bar span{
    margin-top: 20px;
}
.container-homepage-progress-bar h1{
    margin-top: 20px;
    margin-bottom: 20px;
    color: #002E88;
    
}
.container-homepage-progress-bar-line {
    width: 85%;
    border-radius: 10px;
    height: 10px; 
    background-color: #FDE4A9; 
    position: relative; 
    top: 20px;
    
}

.progress-bar {
    height: 100%;
    background-color: #FABC2A; 
    position: absolute; 
    top: 0; 
    left: 0; 
    width: 0; 
    transition: width 0.5s ease; 
    border-radius: 5px;
     
}

/* Vocab and daily mission */
.container-vb-tr{
    display: flex;
    justify-content: space-around;
    margin: 0 250px;
}
.halff{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 45%;
    padding: 16px;
    margin-bottom: 20px;
    color: #002E88;
}
.halff img{
    transition: transform 0.3s ease;
}
.halff img:hover{
    transform: scale(1.05);
}
.halff h2{
    margin-top: 0;
    text-align: center;
}
.halff img{
    display: block;
    margin: 0 auto;
    cursor: pointer;
}
/* lessons */
.container-homepage-lessons{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container-homepage-lessons h1{
    color: #002E88;
    margin-bottom: 40px;
}
.container-homepage-lessons-half{
    display: flex;
    flex-direction: row;
    margin-bottom: 40px;
    gap: 40px;
}
.container-homepage-lessons-indv{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #93FF96;
    width: 380px;
    height: 200px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 12px;
    cursor: pointer;
    transition: border 0.1s ease;
}
.container-homepage-lessons-indv:hover{
    border:4px solid purple;
}
.container-homepage-lessons-indv span{
    margin-top: 35px;
    font-size: 20px;
}
#listening{
    font-family: Urbanist;
    font-size: 18px;

    background-color: #52D1DC;
    color: #002E88;
}
#speaking{
    font-size: 18px;
    background-color: #FABC2A;
    color: #002E88;
}
#reading{
    font-size: 18px;
    background-color: #93FF96;
    color: #002E88;
}
#writing{
    font-size: 18px;
    background-color: #FF5E5B;
    color: #002E88;
    
}
/* materials */

.container-homepage-material{
    margin: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.container-homepage-material h1{
    color: #002E88;
    font-family: Urbanist;
    font-weight: 700;
    font-style: normal;
}
.homepage-materials{
    display: flex;
    flex-direction: row;
    margin: 40px;
    display: flex;
    gap: 40px;

}
.homepage-materials-indv{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
    height: 200px;
    gap: 20px;
    
}
.homepage-materials-indv{
    color: #FFFFFF;
    border-radius: 8px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    
}
.homepage-materials-indv h2{
    font-weight: 550;
}
.homepage-materials-indv div{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.homepage-materials-indv a{
    text-decoration: none;
    outline: none;
    color: #93FF96;
    padding: 10px 8px;
    background-color: #FFFFFF;
    border-radius: 3px;
    font-weight: 500;
    transition: transform 0.3s ease, font-weight 0.3s ease;
    
}
.homepage-materials-indv a:hover{
    transform: scale(1.1);
    font-weight: 600;
}
.homepage-materials-icon{
    background-color: #FFFFFF;
    border-radius: 50%;
    padding: 5px;
}
.homepage-materials-icon svg{
    padding: 2px;
}