/* username */
.container-homepage-header{
    margin: 20px 0px 40px 0px;
    display: flex;
    justify-content: center;
}
.container-homepage-header h1{
    color: #002E88;
    
    font-size: 40px;
}
.container-homepage-header h1 span{
    padding: 12px;
    background-color: #93FF96;
    border-radius: 5px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
/* progress */
.container-homepage-progress{
    
    display: flex;
    justify-content: center;
    
}
.container-homepage-progress-bar{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 40px;
    margin-bottom: 40px;
    width: 85%;
    height: 150px;
    flex-shrink: 0;
    border-radius: 10px;
    background: var(--Purples-Purple-3, #EECAF2);
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.container-homepage-progress-bar h1{
    margin-top: 20px;
    margin-bottom: 20px;
    color: #002E88;
}
.container-homepage-progress-bar-line {
    width: 85%;
    
    height: 10px; 
    background-color: #FDE4A9; 
    position: relative; 
    top: 20px;
}

.progress-bar {
    height: 100%;
    background-color: #FABC2A; 
    position: absolute; 
    top: 0; 
    left: 0; 
    width: 0; 
    transition: width 0.5s ease; 
}
/* lessons */
.container-homepage-lessons{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container-homepage-lessons h1{
    color: #002E88;
    margin-bottom: 40px;
}
.container-homepage-lessons-half{
    display: flex;
    flex-direction: row;
    margin-bottom: 40px;
    gap: 40px;
}
.container-homepage-lessons-indv{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #93FF96;
    width: 380px;
    height: 200px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
/* materials */

.container-homepage-material{
    margin: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.container-homepage-material h1{
    color: #002E88;
    font-family: Urbanist;
    font-weight: 700;
    font-style: normal;
}
.homepage-materials{
    display: flex;
    flex-direction: row;
    margin: 40px;
    display: flex;
    gap: 40px;

}
.homepage-materials-indv{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
    height: 200px;
    gap: 20px;
    
}
.homepage-materials-indv{
    color: #FFFFFF;
    border-radius: 8px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    
}
.homepage-materials-indv h2{
    font-weight: 550;
}
.homepage-materials-indv div{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.homepage-materials-indv a{
    text-decoration: none;
    outline: none;
    color: #93FF96;
    padding: 8px;
    background-color: #FFFFFF;
    border-radius: 3px;
    
}
.homepage-materials-icon{
    background-color: #FFFFFF;
    border-radius: 50%;
    padding: 5px;
}
.homepage-materials-icon svg{
    padding: 2px;
}