@import url("https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,400;0,600;0,800;1,400;1,600&display=swap");

body {
  margin: 0;
  line-height: normal;
}

.daily-mission {
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  position: relative;
  background-color: #fff;
  border: 1px solid #000;
  /* align-items: flex-start; */
  gap: 20px;
  letter-spacing: normal;
}

.daily {
  margin: 0;
  position: relative;
  font-size: inherit;
  line-height: 63px;
  font-weight: 600;
  font-family: inherit;
}

.daily-heading {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 17px 0 0;
}

.mission {
    position: relative;
    font-size: 50px;
    line-height: 63px;
    font-weight: 600;
    font-family: Urbanist;
    color: #002e88;
    text-align: left;
}

.heading,
.lesson-heading,
.mission-heading {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.mission-heading {
    border: 0;
    padding: 17px 24px;
    background-color: #52D1DC;
    border-radius: 10px;
    overflow: hidden;
    justify-content: flex-start;
}

.heading,
.lesson-heading {
  max-width: 100%;
}

.heading {
    justify-content: flex-start;
    gap: 5px;
}
  .lesson-heading {
    align-self: stretch;
    justify-content: center;
    padding: 0 20px 0 24px;
    box-sizing: border-box;
    text-align: left;
    font-size: 50px;
    color: #002e88;
    font-family: Urbanist;
}

/* @media screen and (max-width: 1050px) {
    .treasure,
    .vocab {
      font-size: 40px;
      line-height: 50px;
    }
} */

/* @media screen and (max-width: 450px) {
    .treasure,
    .vocab {
      font-size: 30px;
      line-height: 37px;
    }
    .heading {
      flex-wrap: wrap;
    }
} */

.main-section {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  gap: 36px;
  height: 338px;
  
}

.task-instruction {
  color: #000;
  font-family: Urbanist;
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: 125%; /* 37.5px */
}

.answer-options-box {
  border-radius: 10px;
  border: 2px solid #FABC2A;
  display: flex;
  padding: 20px;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.answer-options-box .answer-option{
  color: #000;
  font-family: Urbanist;
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: 125%; /* 37.5px */

}

.questions {
  display: flex;
  padding: 30px 15px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
}

.questions p{
  color: #000;
  font-family: Urbanist;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%; /* 37.5px */
}

.questions input {
  font-family: Urbanist;
  border: none;
  border-bottom: 2px dotted #002E88;
  width: 149px;
  font-size: 30px;
  color: #002E88;
  font-weight: 600;
  padding: 0px 20px;
}
.questions input:hover{
  outline: none;
}
.questions input:focus{
  outline: none;
}

.submission-buttons {
  display: flex;
  justify-content: center;
  padding: 70px 0px 40px 0px;
  align-items: flex-start;
  gap: 504px;
  flex-shrink: 0;
}

.submission-buttons .skip-button {
  padding: 15px 39px;
  border-radius: 10px;
  border: 1px solid #FF5E5B;
  color: #FF5E5B;
  font-family: Urbanist;
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
  line-height: 125%; 
}

.submission-buttons .submit-button {
  padding: 15px 39px;
  border-radius: 10px;
  color: #002E88;
  background-color: #93FF96;
  font-family: Urbanist;
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
  line-height: 125%; 
}



.submit-button:disabled {
  background-color: rgb(230, 230, 230);
  cursor: not-allowed;
}

.congrats-message{
  margin-top: 150px;
  
  text-align: center;
  font-size: 30px;
  >h2{
    color: #002E88;
  }
  
}