.page-container {
    position: relative;
}
.navbar-container {
    position: absolute;
    left: 0;
    top: 0;
    width: 327px;
}
.content-beside-navbar {
    margin-left: 400px;
    margin-top: 34px;
}

.top{
    background-color: white;
    height: 116px;
}
.top .search-field{
    width: 350px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    box-shadow: none;
    background-color: rgb(228, 227, 227);
}
.middle{
    display: flex;
}
.middle-left{
    width: 60%;
}
.middle-right{
    width: 40%;
}
.upper{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}
.stats-banner{
    width: 240px;
    height: 160px;
    background-color: lightblue;
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
}
#ban1{
    background-color: #FF5E5B;
}
#ban2{
    background-color: #52D1DC;
}
#ban3{
    background-color: #FABC2A;
}