.container-main-sd{
    display: flex;
    flex-direction: column;
    
    align-items: center;
    
}
.container-sd{
    display: flex;
    flex-direction: column;

}
.container-pb-full{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.container-pb{
    margin: 40px 0px;
    display: flex;
    flex-direction: row;
    
    
}
.container-main-sd a{
    
}
.container-sd-main{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
/*  */
.sd-main{
    margin: 0px 110px;
    
    margin-top: 25px;
    margin-bottom: 80px;
    display: flex;
    flex-direction: column;

}
.sd-middle{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
    margin-top: 25px;
    
}
.sd-bottom{
    margin-top: 40px;
    margin-left: 40px;
}
.sd-bottom textarea{
    display: flex;
    
    padding: 10px 10px 10px 10px;
    align-items: center;

    border-radius: 10px;
    border: 1px solid #002E88;
    
    width: calc(100% - 20px);
    height: 100px;
    resize: none;
    font-size: 20px;
}
.sd-bottom textarea:focus{
    border: none;
    outline: none;

    box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
}
.sd-bottom textarea::placeholder{
    font-size: 20px;
}
.sd-bottom textarea:focus{
    
    
    
}
.sd-main h1{
    color: #002E88;
    color: var(--Text-Colours-Primary-Text-color, #002E88);
    font-family: Urbanist;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 125%; 
}
.container-sd-button{
    margin: 28px 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 600px;
    position: relative;
    
}
.container-sd-button .sd-button1{
    padding: 15px 39px;
    border-radius: 10px;
    border: 1px solid var(--Reds-Red, #FF5E5B);
    background-color: white;
    color: var(--Reds-Red, #FF5E5B);
    font-family: Urbanist;
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: 125%; 
}
.container-sd-button .sd-button2{
    padding: 15px 39px;
    border-radius: 10px;
    border: 1px solid #8E8E8E;
    background-color: white;
    color: #8E8E8E;
    font-family: Urbanist;
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: 125%; 
    transition: background-color 0.4s ease-in, color 0.4s ease-in;
}
.sd-button2:hover{
  background-color: #002E88;
  color: aliceblue;
}
.sd-horizontal-line {
    border: none; 
    border-top: 1px solid #0f0f0f; 
    
    width: 100%; 
  }

  /* QA page css */

  .container-qa{
    display: flex;
    flex-direction: column;
    
    align-items: center;
    margin-top: 40px;
  }
  .qa-main{
    
    display: flex;
    flex-direction: column;
   
  }
  .qa-top {
    display: flex; 
    flex-direction: column; 
    align-items: flex-start; 
    margin: 30px 110px 50px; 
    row-gap: 20px; 
    flex-wrap: wrap; 
  }
  
  .qa-top h1 {
    color: #002E88;
    font-family: Urbanist;
    font-size: 40px;
    font-weight: 700;
    line-height: 125%;
    max-width: 70%; 
  }
  .qa-top-r{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    width: 629px;
  }
  .qa-middle{
    margin-left: 155px;
  }
  .qa-middle-q{
    margin-bottom: 28px;
  }
  .qa-middle p{
    color: #000;
    font-family: Urbanist;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 125%; /* 37.5px */
  }
  .qa-middle textarea{
    display: flex;
    margin-top: 10px;
    padding: 10px 10px 10px 10px;
    align-items: center;
    border-radius: 10px;
    border: 1px solid #002E88;
    
    resize: none;
    font-size: 20px;
    border-radius: 10px;
    border: 1px solid #002E88;
  }
  .qa-middle textarea:focus{
    border: none;
    outline: none;

    box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
  }

