@import url("https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,400;0,600;0,800;1,400;1,600&display=swap");

body {
  margin: 0;
  line-height: normal;
}

.whole-container {
    width: 1296px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    gap: 57px;
    max-width: 100%;
  }
  .vocab-treasure-inner {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    padding: 0 20px 9px;
    box-sizing: border-box;
    max-width: 100%;
  }

  .vocab-treasure {
    box-sizing: border-box;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    position: relative;
    background-color: #fff;
    border: 1px solid #000;
    /* align-items: flex-start; */
    gap: 57px;
    letter-spacing: normal;
  }

  @media screen and (max-width: 750px) {
    .whole-container {
      gap: 28px 57px;
    }
  }

  @media screen and (max-width: 450px) {
    .vocab-treasure {
      gap: 28px 57px;
    }
  }

/* Vocab-Treasure Heading CSS */
.vocab {
    margin: 0;
    position: relative;
    font-size: inherit;
    line-height: 63px;
    font-weight: 600;
    font-family: inherit;
  }
  .vocab-heading {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 17px 0 0;
  }
  .treasure {
    position: relative;
    font-size: 50px;
    line-height: 63px;
    font-weight: 600;
    font-family: Urbanist;
    color: #002e88;
    text-align: left;
  }
  .heading,
  .lesson-heading,
  .treasure-heading {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }
  .treasure-heading {
    border: 0;
    padding: 17px 24px;
    background-color: #d67be0;
    border-radius: 10px;
    overflow: hidden;
    justify-content: flex-start;
  }
  
  .heading,
  .lesson-heading {
    max-width: 100%;
  }
  .heading {
    justify-content: flex-start;
    gap: 5px;
  }
  .lesson-heading {
    align-self: stretch;
    justify-content: center;
    padding: 0 20px 0 24px;
    box-sizing: border-box;
    text-align: left;
    font-size: 50px;
    color: #002e88;
    font-family: Urbanist;
  }
  @media screen and (max-width: 1050px) {
    .treasure,
    .vocab {
      font-size: 40px;
      line-height: 50px;
    }
  }
  @media screen and (max-width: 450px) {
    .treasure,
    .vocab {
      font-size: 30px;
      line-height: 37px;
    }
    .heading {
      flex-wrap: wrap;
    }
  }
  

  /* Box-Container CSS */

  .word-name {
    font-weight: 800;
  }
  .noun {
    font-weight: 600;
  }
  .parts-of-speech {
    position: relative;
    line-height: 38px;
  }
  .word {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 6px 0;
  }
  .speaker-icon {
    height: 30px;
    width: 30px;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
  }
  .speaker,
  .word-meaning {
    display: flex;
    flex-direction: row;
  }
  .speaker {
    height: 50px;
    width: 50px;
    border-radius: 30px;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 10px;
    box-sizing: border-box;
  }
  .word-meaning {
    align-items: center;
    justify-content: center;
    gap: 5px;
  }
  .meaning-of-the-word-list {
    margin-bottom: 0;
    color: #000;
  }
  .meaning-of-the-word-order {
    margin: 0;
    font-size: inherit;
    padding-left: 40px;
  }
  .example {
    color: #616161;
  }
  .accident {
    font-family: Urbanist;;
  }
  .main-word {
    color: #616161;
  }
  .example-container {
    margin: 0;
  }

  .meaning-of-the-word {
    align-self: stretch;
    position: relative;
    line-height: 125%;
    color: 000;
  }
  .meaning {
    align-self: stretch;
    border-radius: 10px;
    border: 1px solid #d67be0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 20px 157px 20px 29px;
    gap: 10px;
  }

  .box-containers,
.meaning {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.meaning {
  border-radius: 10px;
  border: 1px solid #d67be0;
  padding: 20px 408px 20px 29px;
  gap: 10px;
}
.box-containers {
  gap: 50px;
  text-align: left;
  font-size: 30px;
  color: #002e88;
  font-family: Urbanist;;
}

  @media screen and (max-width: 750px) {
    .meaning {
      padding-right: 39px;
      box-sizing: border-box;
    }
    .box-containers {
      gap: 25px 50px;
    }
  }