*{
    margin: 0;
    padding: 0;
}
.footer {
    
    background-color: #002E88;
    color: white;
    position: relative;
    bottom: 0;
    padding: 20px;
    height: 190px;

  }
  
  .footer-content {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .logo {
    margin-left: 140px;
    width: 340px;
    height: 125px;
  }
  
  .tagline {
    text-align: center;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }