.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background-color: white;
    color: white;
    margin-left: 20px;
    margin-right: 20px;
  }
.nav-link{
    display: flex;
    justify-content: space-between;
    list-style: none;
    font-size: 20px;
}
li a{
    padding: 32px;

}
ul li a{
    text-decoration: none;
    list-style: none;
    color: #616161;
}
.btn{
    margin: 5px;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.login-btn{
    padding: 10px;
    color: white;
    background-color: #002E88;
    border-radius: 10px;
    width: 96px;
    height: 54px;

}
.signup-btn{
    color: #002E88;
    border-radius: 10px;
    width: 96px;
    height: 54px;
    border-color: #002E88;
}