.teacherNavbar {
    width: 300px;
    max-width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: rgb(255, 255, 255);
    height: 100%;
  }
  
  
  
   .teacherNavbar .links {
    margin-top: 40px;
    margin-bottom: 280px;
    text-decoration: none;
  }
  
  .teacherNavbar .links ul {
    list-style-type: none;
    padding: 0;
  }
  
  .links ul li{
    font-family: 'Urbanist';
    font-size: 25px;
    font-style: normal;
    font-weight: 600;
    text-decoration: none;
    
  }
  .links ul li a{
    text-decoration: none;
    color: #002E88;
  }
  
  .logout {
    width: 142px;
    height: 60px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    text-align: center;

    margin-right: 60px;
  }
  
  .logout button {
    
    gap: 20px;
    width: 100%;
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    background-color: white;
    color: #002E88;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    margin-left: 20px;
  }
.logout button:hover{
    color: white;
    background-color: #3976ee;
}
.dashboard-links{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  padding: 10px 40px 10px 10px;
  margin-bottom: 20px;
  border-radius: 10px;
  transition: background-color 0.3s ease, color 0.3s ease;
  
}
.dashboard-links:hover{
  border-radius: 10px;
  background: var(--Purples-Purple, #D67BE0);
  
  color: white;
  
}
    
  