/* Navbar.css */

.upNav{
  font-family: 'Urbanist';
  width: 1440px;
  background-color: #ffffff; /* Change background color as needed */
  padding: 10px;
  margin-top: 26px
}

.upUl{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.UpLi{
  display: inline;
  margin-right: 20px; /* Adjust spacing between navbar items */
}

.UpLi:last-child {
  margin-right: 0; /* Remove margin for the last navbar item */
}

.linkss{
  color: black; /* Change text color as needed */
  text-decoration: none;
  font-size: 1.5rem;
}

.linkss:hover {
  text-decoration: underline;
}
#correctAnswer{
  width: 200px;
  height: 30px;
}