.container-materials{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #002E88;
    margin-top: 24px;

}
.container-materials h1{
    width: Hug (209px)px;
    height: Hug (97px)px;
    padding: 17px 5px 17px 5px;
    gap: 0px;
    opacity: 0px;
    font-family: Urbanist;
    font-size: 38px;
    font-weight: 600;
    line-height: 62.5px;
    text-align: left;


}
.container-materials h1 span{
    color:  #002E88 ;
    background: #52D1DC;
    width: Hug (258px)px;
    height: Hug (97px)px;
    padding: 17px 24px 17px 24px;
    gap: 0px;
    border-radius: 10px 0px 0px 0px;
    opacity: 0px;
}

/*Listening materials */

.material-box-container{
    margin-top: 40px;
    margin-bottom: 20px;
    min-height: 368px;
}
.material-box{
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.material-listItem{
    width: 1300px;
    height: 40px;
    border: 1px solid #002E88;
    border-radius: 16px;
    margin-bottom: 26px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 15px 20px;
    gap: 16px;

    >span{
        font-family: Urbanist;
        font-size: 30px;
        font-weight: 600;
        line-height: 36px;
        text-align: left;
        color: #2D2D2D;
        ;

    }
}
.material-change-button{
    display: flex;
    justify-content: flex-end;
    margin-bottom: 40px;
    gap: 20px;
}
.material-change-button button{

    background-color: white;
    color:  #002E88;
    padding: 9px 26px;
    border-radius: 8px;
    font-family: Urbanist;
    font-size: 26px;
    font-weight: 600;
    line-height: 37.5px;
    text-align: left;
    border: 2px solid #002E88;
    transition: background-color 0.4s ease-in, color 0.4s ease-in;
}
.material-change-button button:hover{
    background-color: #002E88;
    color: white;
}
.materials-drop{
    width: 95%;
    margin-bottom: 50px;
}
.material{
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 1px solid #002E88;
    font-family: Urbanist;
    font-size: 22px;
    font-weight: 600;
    line-height: 36px;
    text-align: left;
    gap: 18px;
    padding: 0px 35px 5px 35px;
    
    
   


}
