.container-pd{
    display: flex;
    flex-direction: column;
    
    align-items: center;
    margin-top: 40px;
}
.pd-main{
display: flex;
flex-direction: column;
}
.pd-top {
display: flex; /* Maintains flexbox layout */
flex-direction: column; /* Keeps h1 and p stacked vertically */
align-items: flex-start; /* Maintains left alignment */
margin: 30px 110px 50px; /* Adjust margins as needed */
row-gap: 20px; /* Spacing between elements */
flex-wrap: wrap; /* Allows content to wrap if necessary */
}
.pd-top-image{
display: flex;
flex-direction: column;
align-self: center;
width: 800px;
}

.pd-top h1 {
color: #002E88;
font-family: Urbanist;
font-size: 40px;
font-weight: 700;
line-height: 125%;
max-width: 70%;
}

.pd-middle{
    align-self: center;
    margin-bottom: 50px;
}

.pd-middle textarea{
display: flex;
margin-top: 115px;
margin-bottom: 40px;
padding: 20px 20px 20px 20px;
align-items: center;
border-radius: 10px;
resize: none;
font-size: 30px;
border: 2px solid #002E88;
width: 1000px;
}
.pd-middle textarea::placeholder{
    color: #A4A4A4;
    font-family: Urbanist;
    font-size: 30px;
    font-style: normal;
    font-weight: 450;
    line-height: 125%; /* 50px */
}
.middle-submit{
    /* display: flex;
    align-self: flex-end; */
}
.pd-middle .btn-submit{
    display: inline-flex;
    padding: 15px 39px;
    align-items: flex-end;
    gap: 19px;
    margin-left: 83.8%;
    border: none;
}
.pd-middle textarea:focus{
border: none;
outline: none;
box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
}

